@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
header {
  background: #eee;
  background: url("../img/headerok.jpeg") no-repeat top;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px; }
  header .jumbotron {
    background: rgba(52, 58, 64, 0.7);
    color: white;
    font-family: 'Roboto', sans-serif; }
  header h1 {
    text-transform: uppercase; }
  header .lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; }

h1 {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

nav ul {
  text-align: center;
  padding: 10px; }
  nav ul li {
    display: inline-block; }
    nav ul li span {
      color: white;
      background: transparent;
      font-size: 24px;
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 50%;
      border: 3px solid white;
      padding: 5px;
      box-sizing: border-box; }
    nav ul li span:hover {
      background-color: blue; }

.contacto {
  padding-top: 70px;
  padding-bottom: 70px; }
  .contacto h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: blue;
    text-align: center; }
  .contacto form {
    display: flex;
    flex-direction: column; }
    .contacto form input {
      border: 0;
      border-bottom: 1px solid grey;
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      padding: 30px 0; }
    .contacto form input:focus {
      outline: none; }
    .contacto form textarea {
      border: 0;
      padding: 30px 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 24px; }
    .contacto form textarea:focus {
      outline: none; }
    .contacto form a {
      background-color: #000428; }

footer {
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #004e92, #000428);
  border-bottom: 1px solid grey; }
  footer article {
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 1.5; }
    footer article h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      text-align: center;
      padding: 10px; }
    footer article p {
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      padding: 10px; }
    footer article ul {
      text-align: center;
      padding: 10px; }
      footer article ul li {
        display: inline-block; }
        footer article ul li span {
          color: white;
          background: transparent;
          font-size: 24px;
          width: 50px;
          height: 50px;
          display: inline-block;
          border-radius: 50%;
          border: 3px solid white;
          padding: 5px;
          box-sizing: border-box; }
        footer article ul li span:hover {
          background-color: #00cccc; }

.trabajos .carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
